html,
body {
  margin: 0 !important;
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
}

* {
  box-sizing: border-box;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  height: 2.9vw !important;
  padding: 0 0.5vw 0 1vw !important;
  font-size: 1vw !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  font-size: 1vw !important;
  height: 2.9vw !important;
  padding: 0 1vw !important;

}

.MuiFormControl-root {
  width: 50% !important;
  font-size: 1vw !important;
  border-radius: 0.3vw;
  border: 0.1vw solid #808080;
}

.MuiOutlinedInput-notchedOutline {
  border-color: none !important;
  border-width: 0 !important;
}