.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3vw;
    padding: 1.5vw 0;
    position: position;
    top: 0;
    z-index: 9999999;
    margin: 0 8vw;
    background: transparent;
    transition: all 0.02s ease;
}

.headerVN {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1vw;
    padding: 1.5vw 0;
    position: position;
    top: 0;
    z-index: 9999999;
    margin: 0 8vw;
    background: transparent;
    transition: all 0.02s ease;
}

.headerVN>li {
    display: inline-block;
    margin: 0 0.5vw;
}

.headerChange {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3vw;
    padding: 1.5vw 0;
    position: sticky;
    margin: 0 8vw;
    z-index: 999999;
    transition: all 0.02s ease;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0.4vw 0.4vw 0.4vw 0.4vw;
    background: white
}

.companyIcon {
    width: 8vw;
    height: 2vw;
}

.headerLeft {
    margin: 0 !important;
    padding: 0 !important;
}

.headerLeft>li {
    display: inline-block;
    min-width: fit-content;
}

.headerLeft li:first-child {
    margin-left: 0;
}

.headerLeft>li,
.headerRight>li {
    margin: 0 1vw;
    font-weight: 400;
    size: 0.94vw;
    color: #2E2E2E;
    line-height: 1.1vw;
}

.headerLeft>li:hover {
    color: #F9A602 !important;
    transition: all 0.2s ease-in-out;
}

#subMenu {
    list-style: none;
    padding: 0;
    position: absolute;
    z-index: 1000;
    background: #F9F9FC;
    margin: 0 !important;
}

#subMenu>li {
    padding: 0.5vw 2vw !important;
    color: black !important;
}

#subMenu>li:hover {
    background: orange;
    color: white !important;
}





.headerLeft>li:nth-child(4),
.headerLeft>li:nth-child(9),
.headerRight>li:nth-child(4) {
    margin: 0 !important;
}

.polygon {
    width: 0.6vw;
    height: 0.6vw;
}

.headerVN .headerRight .orderButton {
    border-radius: 0.26vw;
    padding: 0.8vw 1.5vw;
    background: linear-gradient(to bottom, #FEAE2F, #F9640A);
    color: white;
    font-weight: bolder;
    min-width: fit-content;
    font-size: 1vw;
    border: 0.1vw solid transparent;
}

.headerVN .headerRight .loginButton {
    border-radius: 0.26vw;
    padding: 0.8vw 1.5vw;
    color: black;
    cursor: pointer;
    min-width: fit-content;
    font-weight: bolder;
    font-size: 1vw;
    border: 0.1vw solid #1A2024;

}

.headerRight .orderButton {
    border-radius: 0.26vw;
    padding: 0.8vw 2.1vw;
    background: linear-gradient(to bottom, #FEAE2F, #F9640A);
    color: white;
    font-weight: bolder;
    min-width: fit-content;
    border: 0.1vw solid transparent;
}

.headerRight .orderButton:hover {
    color: white;
    border: 0.1vw solid #1A2024;
    transition: all 0.8s;
    background: black !important;
    font-weight: bolder;
}

.headerRight .loginButton {
    border-radius: 0.26vw;
    padding: 0.8vw 2.1vw;
    color: black;
    cursor: pointer;
    min-width: fit-content;
    font-weight: bolder;
    border: 0.1vw solid #1A2024;

}

.headerRight .loginButton:hover {
    color: white;
    border: 0.1vw solid #1A2024;
    transition: all 0.5s;
    background: black !important;
    font-weight: bolder;
}

.ukIcon {
    width: 1.4vw;
    height: 1.4vw;
    border: transparent;
    background: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}

.avatarIcon {
    width: 90%;
    border: transparent;
    background: none;
    outline: none;
    border-radius: 50%;
}

.languageWrapperHide,
.userWrapperHide,
.userWrapperBlock,
.languageWrapperBlock {
    position: absolute !important;
    right: 0.42vw;
    width: 100%;
    list-style: none;
    margin: 1vw 0;
    padding: 0.52vw 0;
    z-index: 12222;

}

.languageWrapperHide,
.userWrapperHide {
    top: 0;
    display: none;
}

.languageWrapperBlock {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.25) 0.4vw 0.4vw 1.2vw 0;
    animation-duration: 1s;
    animation-name: rotateX;
    width: 4vw;
    background: white;
}

.polygon .languageWrapperBlock li {
    width: 70% !important;
    margin: 0 auto !important;
}

.userWrapperBlock {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.25) 0.4vw 0.4vw 1.2vw 0;
    animation-duration: 1s;
    animation-name: rotateX;
    width: fit-content !important;
    background: white;

}

.userWrapperBlock li:first-child {
    margin: 0 auto !important;
    width: 30% !important;
}

.userWrapperBlock li {
    margin: 2vw;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    background: #dcdcf7;
    display: none;
    margin: 0;
    border-radius: 0.3vw;
    padding: 0
}

.dropdownItem {
    padding: 1vw;
    color: black;
}

.dropdownItem:hover {
    color: white;
    background: orange;
    transition: 0.5s all ease-in-out;
}

.dropdown:hover .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    background: #dcdcf7;
    display: block;
    margin: 0;
    border-radius: 0.3vw;
    padding: 0
}

.dropdown {
    position: relative !important
}

.dropdownAni {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center
}

@keyframes rotateX {
    0% {
        opacity: 0;
        transform: rotateX(90deg);
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    80% {
        transform: scaleY(1.1)
    }

    100% {
        transform: scaleY(1)
    }
}